/vendor
/node_modules
.env
.env.*
.phpunit.result.cache
/storage/*.key
/storage/app/public
/storage/framework/*
/storage/logs/*
/public/storage
/public/docs
/resources/docs
dump.rdb
.DS_Store
Thumbs.db
*.log
docker-compose.override.yml
docker-compose.prod.yml
/.phpunit.cache
/public/build
/public/hot
.env.backup
.env.production
.phpactor.json
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.zed
phpstan.neon
pint.json
/.scribe
/public/vendor/scribe
composer.lock
public/media
storage/
lang/vendor/filament-panels
resources/views/scribe/*
